@import "./src/stylesheets/general/responsive.mixins.scss";

section {
  &.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
  }
}

@include screen(xs) {
  section.cta {
    align-items: center;
  }
}
