@import "./variables.scss";
@import "./responsive.mixins.scss";

$classes: (
  "d": (
    "prop": display,
    "values": (
      "none": none,
      "flex": flex,
      "block": block,
    ),
  ),
  "flex-dir": (
    "prop": flex-direction,
    "values": (
      "row": row,
      "row-r": row-reverse,
      "col": column,
      "col-r": column-reverse,
    ),
  ),
  "justify-content": (
    "prop": justify-content,
    "values": (
      "start": flex-start,
      "end": flex-end,
      "center": center,
      "between": space-between,
      "around": space-around,
    ),
  ),
  "align-items": (
    "prop": align-items,
    "values": (
      "start": flex-start,
      "end": flex-end,
      "center": center,
      "baseline": baseline,
      "stretch": stretch,
    ),
  ),
  "flex": (
    "prop": flex-wrap,
    "values": (
      "wrap": wrap,
      "wrap-r": wrap-reverse,
      "no-wrap": nowrap,
    ),
  ),
  "text": (
    "prop": text-align,
    "values": (
      "left": left,
      "right": right,
      "center": center,
      "justify": justify,
    ),
  ),
);

@each $class, $configs in $classes {
  $prop: map-get($configs, "prop");
  $values: map-get($configs, "values");
  @each $key, $value in $values {
    // Breakpoints
    @each $breakpoint, $breakpoint-value in $breakpoints {
      @include screen($breakpoint) {
        .#{$class}-#{$breakpoint}-#{$key} {
          #{$prop}: $value !important;
        }
      }
    }

    // No breakpoints
    .#{$class}-#{$key} {
      #{$prop}: $value;
    }
  }
}

$cols: 12;

@for $i from $cols through 0 {
  @each $breakpoint, $breakpoint-value in $breakpoints {
    @include screen($breakpoint) {
      .col-#{$breakpoint}-#{$i} {
        width: calc(100% / $cols * $i) !important;
      }
    }
  }

  .col-#{$i} {
    width: calc(100% / $cols * $i);
  }
}

$margins: 16;
$multiplier: 0.25rem;
$marginClasses: (
  m: (
    margin,
  ),
  mt: (
    margin-top,
  ),
  mr: (
    margin-right,
  ),
  mb: (
    margin-bottom,
  ),
  ml: (
    margin-left,
  ),
  mx: (
    margin-left,
    margin-right,
  ),
  my: (
    margin-top,
    margin-bottom,
  ),
);

@each $class, $props in $marginClasses {
  @for $i from $margins through 0 {
    $value: $i * $multiplier;
    @each $breakpoint, $breakpoint-value in $breakpoints {
      @include screen($breakpoint) {
        .#{$class}-#{$breakpoint}-#{$i} {
          @each $prop in $props {
            #{$prop}: $value !important;
          }
        }
      }
    }

    .#{$class}-#{$i} {
      @each $prop in $props {
        #{$prop}: $value;
      }
    }
  }
}
