// TODO: Add multiple themes using a service
@import "./stylesheets/themes/ligth-theme";

@import "./stylesheets/general/global.styles.scss";

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
